DB_URL=jdbc:mariadb://localhost:3306/bootex
DB_USERNAME=bootuser
DB_PASSWORD=replace-with-your-database-password

AWS_ACCESS_KEY=replace-with-your-aws-access-key
AWS_SECRET_KEY=replace-with-your-aws-secret-key
AWS_REGION=ap-northeast-2
AWS_S3_BUCKET=replace-with-your-s3-bucket
